body, html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    background-color: #1a1a4b;
    color: white;
    padding: 10px 20px;
    text-align: left;
    font-size: 12px;
}
