body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
  }
  
  .container {
    padding: 2rem;
    height: calc(100vh - 100px);
    box-sizing: border-box;
  }
  
  .content-box {
    background-color: rgba(0, 0, 50, 0.5);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    padding: 2rem;
    color: white;
    height: 100%;
    overflow: hidden;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .freq-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
    height: calc(100% - 80px);
  }
  
  /* CALENDARIO */
  #calendar {
    max-width: 900px;
    margin: 40px auto;
    background-color: #f0f8ff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  /* Cor do cabeçalho (nome do mês e botões) */
  .fc-toolbar-title {
    color: #003366;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .fc-button {
    background-color: #006699;
    color: white;
    border: none;
  }

  .fc-button:hover {
    background-color: #004d66;
  }

  /* Cor dos nomes dos dias da semana */
  .fc-col-header-cell {
    background-color: #cce7ff;
    color: #003366;
    font-weight: bold;
  }

  /* Cor das células do calendário */
  .fc-daygrid-day {
    background-color: #ffffff;
  }

  /* Destaque ao passar o mouse nos dias */
  .fc-daygrid-day:hover {
    background-color: #e6f7ff;
  }
  
.fc-daygrid-day-number {
  color: black !important;
}
  
  /* GRAFICO */
  .chart-container {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-10px);
  }
  
  .chart-container canvas {
    width: 230px !important;
    height: 230px !important;
    margin-bottom: 1rem;
  }
  
  .legend {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: white;
  }
  
  .legend li {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
  }
  
  .legend .dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 0.5rem;
    border-radius: 50%;
  }
  
  .legend .present {
    background-color: #00B000;
  }
  
  .legend .absent {
    background-color: #D00000;
  }
  
  .legend .holiday {
    background-color: #D6C300;
  }

  .stats {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: -60px;
    margin-right: 65px;
    color: white;
    font-size: 1.2rem;
    line-height: 1.8;
    gap: 1rem;
    max-width: 220px;
    flex: 1 1 220px;
  }
  